.mainClass {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
}

.paraClass {
    background-color: aliceblue;
    font-family: fantasy;
    padding: 25px;
}

.headClass {
    font-size: 25px;
    text-align: center;
}

.buttonClass {
    font-size: 25px;
    color: darkgreen;
    padding: 25px;
}

.imgClass {
    height: 300px;
    width: 400px;
    padding: 25px;
}